<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <title>Chat Room</title>
</head>
<body>
	<div class="messages">
		<form id="btnSend" action="">
			<input placeholder="Enter text ..." id="message_input" autocomplete="off" /><button>Send</button>
		</form>
	</div>

    <script>
	    var socket = io();
		socket.connect();
		
		let messageContainer = document.querySelector(".messages");

        socket.on('message', function(msg){
            let messageElement = document.createElement("p");
            messageElement.innerText = msg;
            messageContainer.appendChild(messageElement);
        });

        document.getElementById('btnSend').onsubmit = function(){
            var input = document.getElementById('message_input');
            socket.emit('message', input.value);
            input.value = '';
            return false;
        };
    </script>
</body>
</html>